html,
body {
    overflow: hidden;
	padding:  0;
	margin:  0;
	height: 100%;
}

#background {
	background-color: #fff;
    background-image: url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    overflow: -moz-hidden-unscrollable;
}

#inputContainer  {
	float: left;
    padding: 45px;
    border-right: 1px solid. #999;
    width: 400px;
    height: 400px;
}

#announcementTitle * {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #FF8C00;
	font-weight: bold;
	line-height: 1em;
	box-sizing: border-box;
}

#announcementTitle {
	color: #FF8C00;
	width: 80%;
	margin: 0 auto;
	font-size: 33px;

}

#inputContainer {
	width: 500px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

#inputContainer input[type="text"]  {
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#deleteContainer input[type="text"]  {
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}



