html,
body {
	padding:  0;
	margin:  0;
	height: 100%;
}

#background {
	background-color: #fff;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
	color: #fff;
	font-family: "Helvetica Neue";, "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer{
    width: 70%;
    margin: 200px 250px;
	position: relative
	max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a0a0a0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a0a0a0;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a0a0a0;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #a0a0a0;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #a0a0a0;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #a0a0a0;
}

#inputContainer {
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
    width: 400px;
    height: 400px
 }   
   
#inputContainer h2 {
	text-allign: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
	color: #FF8C00;
    font-size: 13px;
    margin-top: 15px;
}

#inputContainer  button {
	background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #FF8C00;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer  button:hover {
	cursor: pointer;

}

.hasAccountText span {
	font-weight: bold;
    font-size: 12px;
}

.hasAccountText {
	text-align: center;
}

#registerForm,
#loginForm {
	display: none;
}

#loginText {
	padding: 58px;
    margin: -35;
    float: right;
    }

#loginText h1 {
	
    color: #FF8C00;
    font-size: 90px;
    font-weight: bold;
}

#loginText h2 {
    margin: 35px 0;
    color: FFA500;
}

#loginText ul {
    padding: 0;
    color: FFA500;
}

#loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
    background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMessage {
    color: #FF8C00;
    font-size: 12px;
    display: block;
}